@import "tailwindcss";



@theme inline {
  --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;

    --transition-height: 0.5s ease-in-out;
    --transition-width: 0.5s ease-in-out;



   /*  --color-primary: #6A001F; */
    --color-primary: #ff6900; /* orange-500 */
    --color-secondary: #131416;
    --color-tertiary: #122530; /* dark blue */
}

